<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books Catalogue</title>
</head>
<body>
    <h1>Book Catalogue</h1>
<form method = "POST">
    ISBN:
    <input type="text" name="isbn">
    <button type="submit">Search Book</button>
</form>
<hr>
{% for book in books %}

<h3>{{book[2] }}</h3>
<p>Author: {{ book[3] }}</p>
<p>Pages: {{ book[4] }}</p>
<p>Rating: {{ book[5] }}</p>
<p>ISBN: {{ book[1] }}</p>

<a href="/delete/{{ book[0] }}">Delete</a>
<hr>
{% endfor %}

{% if error %}
<p>{{ error}}</p>
{% endif%}


</body>
</html>